<div class="container-fluid" data-role="main">
    <div class="row-fluid">
        <div class="span12">
            <div class="span8">

            </div>
            <div class="span4">
                {{> users._login }}
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="span12">

        </div>
    </div>
</footer>
