{
    {{# first_name }}"first_name": "{{first_name}}",{{/ first_name }}
    {{# last_name }}"last_name": "{{last_name}}",{{/ last_name}}
    "address": "{{address}}",
    "birth_date": "{{birth_date}}",
    "hire_date": "{{hire_date}}",
    "dismissal_date": "{{dismissal_date}}",
    "photo": "{{photo}}",
    "created_at": "{{created_at}}",
    "updated_at": "{{updated_at}}"
}