<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        {{# data }}
        <tr>
            <td>{{ id }}</td>
            <td>{{ first_name }}</td>
            <td>{{ last_name }}</td>
            <td>{{ address }}</td>
            <td>{{ birth_date }}</td>
        </tr>
        {{/ data }}
    </tbody>
</table>